# Extensionless output binary
avr-console

# Output artifacts
*.dump

# Object and depends directories
.*/

# Ragel intermediate files
*.rl.*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
